header, footer {
	text-align: center;
}

footer {
    padding: 0px 10px 0px 10px;
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	right: 1;
}

body {
	background-image: url('./resources/opera.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top;  
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	margin: 30px;
	max-width: 400px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 0px;
}

.social-link {
	display: block;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
}

.button-logo {
	display: flex;
	width: 100px;
	height: auto;
}

.darkener {
    background-color: rgba(255, 255, 255, 0.5);
	width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}