header, footer {
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	margin: 30px;
	max-width: 400px;
}

h2 {
	margin-bottom: 10px;
}

button {
	display: block;
	margin-bottom: 20px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid #000;
	background-color: #b5d8a8;
}

.button-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100px;
}



