header, footer {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: 20%;
	margin-right: 20%;
}

body {
	background-image: url('./resources/opera.jpg');
	background-repeat: no-repeat;
	background-size:0cqi
  }

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	margin: 30px;
	max-width: 400px;
}

h2 {
	margin-bottom: 10px;
}

.social-link {
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
}

.button-logo {
	display: flex;
	width: 100px;
	height: auto;
}

.darkener {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}