header, footer {
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	margin: 30px;
	max-width: 400px;
}

h2 {
	margin-bottom: 10px;
}

button {
	display: block;
	margin-bottom: 20px;
	height: 50;
	width: 100px;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-decoration: solid;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #000;
	background-color: #b5d8a8;
}

.button-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100px;
}



